#user-group-search
  display flex
  flex-direction column
  height 100%

  #search-input
    box-sizing border-box
    padding 15px
    padding-top 0
    display flex
    flex-direction column
    align-items center

    .search-q-input
      width 100%
    
    .search-submit-wrapper
      width auto
      height 40px

  #search-content-panel
    display flex
    flex-grow 1

    .search-content
      display flex
      justify-content flex-start
      flex-wrap wrap