.user-avatar-wrapper
  display flex
  justify-content center
  align-items center
  position relative

  .user-avatar-hover
    border 2px solid #00000000
    box-sizing content-box

    &:hover
      border-color $green-1