.search-item
  box-sizing border-box
  margin 0
  width calc(100% / 3)
  padding 20px
  display flex
  justify-content space-between
  align-items center

  &:hover
    cursor context-menu

  .search-item-text-msg
    width calc(100% - 70px - 20px)

    .name
      display flex
      align-items center
      width 100%
      font-size 14px
      line-height 20px
      height 20px

      .name-text
        max-width calc(100% - 1.2em - 5px)
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

      .gender-icon
        font-size 1.2em
        margin-left 5px

    .id
      display block
      font-size 12px
      line-height 18px
      height 18px
      color $gray-5

    .buttons
      margin-top 10px
      display flex

      .button
        height 100%
        color #444
        box-sizing border-box
        display flex
        align-items center
        padding 0 5px
        background-color $green-1
        box-sizing border-box
        border-radius 0.2em
        color white
        font-size .8em
        height 2em

        &:hover
          background-color $green-2