/* app global css */
.flex-end
  display flex
  justify-content flex-end
  align-items center

.click-hover:hover
  cursor pointer

.single-line
  overflow hidden
  text-overflow ellipsis
  white-space nowrap