#window-footer
  background-color $green-1
  display flex
  justify-content space-between

  .window-footer-item
    height 100%

  #system-status-display
    display flex
    justify-content flex-end
    align-items center
    color white
    font-size .8em

    &:hover
      cursor context-menu

    span
      padding 0 .5em