#sign-in-on
  padding 20px 50px

  #title
    span
      font-size 18px
      line-height 2.5em

  #content-input
    width 100%

  #content-submit
    width 100%
    display flex
    justify-content flex-end

    .my-btn
      background-color $green-1
      color white
      box-sizing border-box
      width 60px
      height 35px
      border 0
      margin-left 10px
      border-radius 3px
      transition background-color .2s

      &:focus
        outline none

      &:hover
        cursor pointer
        background-color $green-2