#window-top-bar
  background-color $green-1
  width 100%
  height 30px
  position relative
  display flex
  justify-content flex-end

  .window-top-bar-btn
    height 100%
    width 40px
    display flex
    justify-content center
    align-items center
    color white

    &:hover
      cursor pointer
      background-color $green-2